---
layout: null
title: Project Hustle
description: Hustling is my hobby.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    	{% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

				<!-- Intro -->
				<div id="intro">
            		<h1>Project Hustle</h1>
					<h2>Hustling is my hobby.</h2>

					<p>Specifically, self-developmental / boundary-pushing <b>side hustles</b> and <b>life projects</b>.</p>
					
					<p>Welcome, have fun, and say hi at <a href="mailto:{{site.email}}">{{site.email}}</a>.</p>
					
					<ul class="actions">
						<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
					</ul>
				</div>

			<!-- Header -->
			<header id="header">
				<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
			</header>

			<!-- Nav -->
			<nav id="nav">
            	{% include nav.html %}
            	<!-- SOCIAL MEDIA ICONS IN NAV BAR
				<ul class="icons">
	              <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
	              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
	              
	              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
	              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
				  
				</ul>
				-->
			</nav>

			<!-- Main -->
			<div id="main">
<article class="post featured">
           
	           		<header class="major">           
		           		<p>
		           			<b>Identity is simply an integration of action over time.</b> 

		           			<div align="center"><a href="#" class="image main"><img src="/images/posts/identity-eq.gif" style="max-width:400px" alt="" /></a></div>

		           			<div align="center"><a href="#" class="image main"><img src="/images/posts/identity-emerges.png" style="max-width:600px" alt="" /></a></div>
		           		</p>

		          	</header> 


<div align="left" style="font-size:18px">
Improvement is nothing more than repeating a set of actions, day in and day out, until that identity emerges in retrospect. In other words, achievement and identity are dynamic; they depend not on who we were, but <b><i> what we choose to do next</i></b>.

<br></br>
This is a philosophy I live by. 
<br></br>
I take a goal I want to achieve, craft it into a fun, boundary-pushing project and push myself to finish it over some set interval of time. It’s led to some pretty awesome achievements (emotional resilience development, becoming a technologist, solo-backpacking 30+ countries, becoming fit, giving a TEDx talk) but most importantly, it's given me a framework that makes goal achievement actually fun and easy.
<br></br>

If you like this theory and are interested in learning how to apply it to your life to achieve certain goals, I'm in the midst of writing a guide on that - available <a href="http://eepurl.com/dtd9y1" target="_blank">here</a>. 

Otherwise, below are some of the projects & challenges I’ve worked on. Enjoy! 

</div>


		           			

		           		
	            	
 
</article>

			<!-- CATEGORY ORDER MANUALLY SPECIFIED WITH POSTS & DESCRIPTIONS LISTED UNDERNEATH -->
			<section class="posts">
				{% assign mod2 = forloop.index | modulo: 2 %}
				
				<!-- CATEGORY | FITNESS -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Fitness</h2>
						<p>After 20 years of being a couch-potato, I wanted to get fit, once and for all. This was my journey.</p>		
					</header>
						{% for post in site.categories.fitness %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | COUCHSURFING -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Couchsurfing</h2>
						<p>Experiences & tips on Couchsurfing - staying with totally random strangers abroad.</p>		
					</header>
						{% for post in site.categories.couchsurfing %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | TRAVEL -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Travel</h2>
						<p>Thoughts on traveling 6 Continents & 30 countries, for virtually no money.</p>		
					</header>
						{% for post in site.categories.travel %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | PRODUCTIVITY -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Productivity</h2>
						<p>Efficient time use is something I've always thought about and focused on improving. These are systems I use which have worked super well for me.</p>		
					</header>
						{% for post in site.categories.productivity %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>	

				<!-- CATEGORY | CODING -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Coding</h2>
						<p>Before working for Microsoft, I wanted to learn how to code but was pretty intimidated by it. Thoughts on that process in retrospect.</p>		
					</header>
						{% for post in site.categories.fitness %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | CAREER -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Post-Grad Career</h2>
						<p>After graduating and deciding between 8 job offers, I set about doing research on career choices.</p>		
					</header>
						{% for post in site.categories.career %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | READING -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Reading</h2>
						<p>5 minute insights from top non-fiction literature.</p>		
					</header>
						{% for post in site.categories.reading %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

				<!-- CATEGORY | LIFE -->
				<article align="left">
					<header>
						<h2 class="category-head">Project: Life Perspective</h2>
						<p>Thoughts on various life topics.</p>		
					</header>
						{% for post in site.categories.life %}
					 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
				</article>

			</section>

			<!-- RANDOM CATEGORIES ORGANIZED IN BOXES WITH POSTS & DESCRIPTION LISTED UNDERNEATH -->
			<!--
			<section class="posts">
				{% for category in site.categories %}
				{% assign mod2 = forloop.index | modulo: 2 %}
			<article align="left">
				<header>
					{% capture category_name %}{{ category | first }}{% endcapture %}		
					<h2 class="category-head">Project: {{ category_name }}</h2>
					<a name="{{ category_name | slugize }}"></a>

					{% if category_name contains "travel" %}
					<p>Travel</p>
					{% elsif category_name contains "life" %}
					<p>Life</p>
					{% elsif category_name contains "productivity" %}
					<p>Productivity</p>
					{% elsif category_name contains "career" %}
					<p>Career</p>			
					{% endif %}			
				</header>
					{% for post in site.categories[category_name] %}
					<li align="left" style="font-size:13px"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
				    	{% endfor %}

				    
					<p>{{ post.description }}</p>
					<ul class="actions">
						<li><a href="{{ post.url | absolute_url }}" class="button">Read</a></li>
					</ul>
			</article>
			{% endfor %}
			</section>
			-->

			<!-- Footer -->
			<footer>
		        <ul class="actions">
		          <li><a href="{{ "/blog" | absolute_url }}" class="button">All Posts</a></li>
		        </ul>
			</footer>

			</div>

			<!-- Footer -->
		    {% include foot.html %}

	</div>

	<!-- Scripts -->
	{% include scripts-main.html %}
    {% include tracking.html %}
    {% include clicky.html %}
    {% include hellobar.html %}
	</body>
</html>
