<hr>
<div id="comment below">
<h2 style="color:#FF7F00;">How strong is your reading game?</h2>
<p>It's no secret that one of the top habits of highly successful people is that they <b>read regularly</b>:
<ul align="left">
	<li>Warren Buffett - 5-6 hrs/day</li>
	<li>Bill Gates - 50 books/yr</li>
	<li>Elon Musk - 2 books/day</li>
	<li>Oprah - 1+ book/month</li>
</ul>

<p>If you find you want to read, but don't have the time, join our book summary newsletter <a href="{{ "/subscribe" | absolute_url }}" style="color:#006400">here</a>, in which I'll deliver the insights & wisdom of non-fiction books to your inbox.</p> 
<div id="comment below">

<!-- OTHER BOOK SUMMARIES
<article align="left">
	<h2 class="category-head" style="color:#6495ed;">Other Book Summaries</h2>

		{% for post in site.categories.reading %}
	 	<li align="left" style="font-size:14px">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
</article>
-->