<footer id="footer">
  <body>
    {% include clicky.html %}
    <!--{% include hellobar.html %}-->
  </body>



  <section>
    <h2>Contact</h2>
    Feel free to reach out with any questions, comments, or random thoughts. <br><br> I'm always happy to hear from folks, schedule a videochat, and, if you're in the Bay Area, meet up for coffee.
  </section>

  <section class="split contact">

    <section>
      <h3>LinkedIn</h3>
      <a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow" target="_blank"><span class="label">LinkedIn</span></a>
    </section>

    <section>
      <h3>Instagram</h3>
      <a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow" target="_blank"><span class="label">Instagram</span></a>
    </section>
     
    
    <section>
      <h3>Twitter</h3>
      <a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow" target="_blank"><span class="label">Twitter</span></a>
    </section>

    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>   
    
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow" target="_blank"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow" target="_blank"><span class="label">Instagram</span></a></li>
        
      </ul>
    </section>   

  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; Project Hustle 2020 </li>
  </ul>
</div>
