<div id="comment below"> 
    <p>

    <b>Did you like this post?</b>

    <p> Let me know! Drop me an email or reach out on social media</p>

    Let's connect <a href="{{ "/subscribe" | absolute_url }}" style="color:#FF0000;">here</a>.
    <br></br>
    – Neha
    </p>
</div>

<div id="comment below"> 
  <article align="left">
    <h2 class="category-head" style="color:#6495ed;"><i>Also check out...</i></h2>
    {% for post in site.posts %}
    {% if post.categories == page.categories %}
    <li align="left">&nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
</article>
  
</div>      